
Nate's code from here down:
<form id="new-link-form">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>


<div id="links-list">
    <% @links.each do |link| %>
    <div class="link" data-link-id="<%= link.id %>" data-link-url="<%= link.url %>">
      <p class='link-title'><%= link.title %></p>
      <p class='link-url'> <%=link_to link.url, link.url %></p>

      <p class="link_read">
         <%= link.read %>
      </p>
      <p class="link_buttons">
        <button class="mark-as-read">Mark as Read</button>
        <%= link_to "Edit", edit_link_path(link), class:"button" %>
        <button class='delete-link'>Delete</button>
      </p>
    </div>
    <% end %>
</div>


<h2>Hot Reads!</h2>
<ol id="hot-reads">
<% @hot_links.each do |read| %>
  <li class='hot-read'>
    <a href="<%= read.url %>"><%= read.url %></a>
  </li>
<% end %>
</ol>
<img src="http://i.giphy.com/Wj2Qm3eaW1gGY.gif">
