<div class="message"></div>
<h3>Make a New Link:</h3>
<hr>
<form id="new-link">
  <label>URL:
    <input id="link-url">
  </label>
  <label>Title:
    <input id="link-title">
  </label>
  <input type="submit" value="Add Link">
</form>
<h3>Filter Links:</h3>
<hr>
<input type="text" id="filter-links-text" onkeyup="filterText()" placeholder="Search for links">
<button type="button" id="filter-by-unread" name="filter-unread">Filter By Unread</button>
<button type="button" id="filter-by-read" name="filter-read">Filter By Read</button>
<button type="button" id="show-all" name="show-all">Show All links</button>

<h3>Your links Index:</h3>
<hr>
<div class="links-index-container">
<div id="links-list">
    <% @links.each do |link| %>
    <div class="link" data-link-id="<%= link.id %>" data-link-url="<%= link.url %>">
        <h4 class="link-type"></h4>
      Title: <p class='link-title'><%= link.title %></p>
      URL: <p class='link-url'> <%=link.url %></p>
      <p><%= link_to "Edit", edit_link_path(link), class:"button" %>
        <%= link_to "Delete" %></p>
        <div class="read-status">
          <% if link.read == true %>
          <p class="marked-read">
            Read? <%= link.read %></p>
            <button class="mark-as-unread">Mark as Unread</button>
            <% else %>
          <p class="link-read">
            <button class="mark-as-read">Mark as Read</button>
             Read? <%= link.read %></p>
          </p>
          <% end %>
        </div>
  </div>
    <% end %>
</div>
</div>

<!-- <img src="https://m.popkey.co/4c7272/QL6mJ.gif"> -->
